<div class="animated fadeIn">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div style="margin-left: 80%;"><a class="nav-link disabled" href="#" *ngIf="codeUserLog" >Code:    {{codeUserLog}}</a></div>
          <div style="margin-left: 80%;"><a class="nav-link disabled" href="#"*ngIf="name" >Name:    {{name}}</a></div>
        </div>
        <div class="card-body">
          <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="codeUserLog"  >
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/user">Users <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" *ngIf="admin" href="/user/create">New User<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" *ngIf="admin" href="account/create">Account</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" *ngIf="admin" href="account/list">Account List</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" *ngIf="!admin" href="account/deposit">Account Deposit</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="patrimony">Patrimony</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="account-history/list">Balance</a>
                </li>
                <li class="nav-item dropdown" dropdown>
                  <a id="link-dropdown" class="nav-link dropdown-toggle" href dropdownToggle (click)="false" aria-controls="your-dropdown">
                    Assets
                  </a>
                  <div id="your-dropdown" class="dropdown-menu" aria-labelledby="link-dropdown" *dropdownMenu>
                    <a class="dropdown-item" href="assets/create">New Asset</a>
                    <a class="dropdown-item" href="assets">List Assets</a>
                    <a class="dropdown-item" href="assets/top-five">Top 5</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">

                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="onLogout()">Logout</button>
                
              </form>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<app-message></app-message>
<router-outlet></router-outlet>


