<div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Assets List
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th *ngFor="let name of displayColumns"> {{name}} </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data">
              <td> {{item.code}} </td>
              <td> {{item.addedStockMarket}} </td>
              <td> {{item.amount}} </td>
              <td> {{item.value}} </td>
              <td> {{item.create}} </td>
              <td>
                <span *ngIf="item.isActive" class="badge badge-success">Active</span>
                <span *ngIf="!item.isActive" class="badge badge-danger">Active</span>
              </td>
            </tr>
          </tbody>
        </table>
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
